/* var Colores */
$gbColor: rgb(217, 187, 98);
$bgColor1:rgb(242, 237, 228);
$bgColor2:rgb(217, 210, 197);
$bgColor3:rgb(166, 154, 133);
$bgColor4:rgb(89, 82, 69); 


/* var text */

$ffamily: 'Montserrat', sans-serif;