* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

@import 'vars.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'anima.scss';

p {
    font-family: $ffamily;
}

a {
    font-family: $ffamily;
}

.tipoTex{
    font-family: $ffamily;
}


/* botones color */

.btcolorF {
    background-color: $gbColor;
}

/* botones color */

.tipografiaBO {
    font-family: $ffamily;
}

/* Medios de pago */

.mpagoText {

    font: {
        family: $ffamily;
        size: 20px;

    }
    background-color: $gbColor;



}
/* Fuentes del sitio */

/* Colores generales de fonde y texto */

.textC1 {
    color: $gbColor;
}



.fondoG {
    background-color: $bgColor1 ;
}

.fondoG1 {
    background-color: $bgColor2;
}

.fondoG2 {
    background-color: $bgColor3;
}

.fondoG3 {
    background-color: $bgColor4;
    
}

.fondoG4 {
    background-color: $gbColor;
}



/* Colores generales */
.cuadradito {
    width: 25px;
    height: 25px;
    background-color: black;
}
