* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* Fuentes del sitio  las quiete y la linkeop directamente en al index*/
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap'); */



p {
    font-family: 'Montserrat', sans-serif;
}

a {
    font-family: 'Montserrat', sans-serif;
}


.tipoTex{
    font-family: 'Montserrat', sans-serif;
}

/* Tamaño para el Menu */

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}


/* Tamaño para el Menu */


/* Titulo header */
.tipografiaT {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: left;
    margin-top: 15%;
    margin-left: 0%;

}

/* botones color */

.btcolorF {
    background-color: rgb(217, 187, 98);
}

/* botones color */

.tipografiaBO {
    font-family: 'Montserrat', sans-serif;
}

.mpagoText {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background-color: rgb(217, 187, 98);



}

/* Fuentes del sitio */

/* Colores generales de fonde y texto */

.textC1 {
    color: rgb(217, 187, 98);
}

.fondoG {
    background-color: rgb(242, 237, 228);
}

.fondoG1 {
    background-color: rgb(217, 210, 197);
}

.fondoG2 {
    background-color: rgb(166, 154, 133);
}

.fondoG3 {
    background-color: rgb(89, 82, 69);
    
}

.fondoG4 {
    background-color: rgb(217, 187, 98);
}



/* Colores generales */
.cuadradito {
    width: 25px;
    height: 25px;
    background-color: black;
}

/* animatciones */
.transMenu {

    transition: width 1s;
    width: 300px;
    background: lightslategray transparent 50%;
}
/* animacion rotar */
.rotateMenu:hover {
    transform: rotate(45deg) ;
    cursor: pointer;
    transition: all 1s;
}
 /* animacion para el menu */
.rotateScale:hover {
    transform: scale(1.5) ;
    cursor: pointer;
    transition: all 1s;
}